<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.delivery.post.mapper.PostMapper">
    <select id="findAll" resultType="PostDao">
        SELECT "post_id" AS postId,
        "comment_id" AS commentId,
        "created_at" AS createdAt,
        "deleted" AS deleted,
        "post_store_id" AS postStoreId,
        "user_id" AS userId  FROM "post";
    </select>
    <insert id="addPost" parameterType="com.delivery.post.domain.Post">
        INSERT INTO "post"
        (
        "post_id",
        "comment_id",
        "created_at",
        "deleted",
        "post_store_id",
        "user_id"
        )
        VALUES
        (
        #{postId},
        #{commentId},
        #{createdAt},
        #{deleted},
        #{postStoreId},
        #{userId}
        )
    </insert>
</mapper>